<div class="box box-info">
  <div class="box-header with-border">
    <h3 class="box-title">Embryou Transfer</h3>
  </div>
  <!-- /.box-header -->
  <!-- form start -->
  <div class="box-body">
        <div class="row">
      <div class="col-md-6">
          <form class="form-horizontal">
            <div class="box-body">
              <div class="form-group">
                <label for="inputEmail3" class="col-sm-4 control-label">Number of Embryo Transfer</label>

                <div class="col-sm-8">
                  <input type="" class="form-control" id="inputEmail3" placeholder="">
                </div>
              </div>
              <div class="form-group">
                <label for="inputEmail3" class="col-sm-4 control-label">Negotiation </label>

                <div class="col-sm-8">
                  <input type="" class="form-control" id="inputEmail3" placeholder="">
                </div>
              </div>  
              <div class="form-group">
                <label for="inputEmail3" class="col-sm-4 control-label">Assisted Hatching</label>

                <div class="col-sm-8">
                  <input type="" class="form-control" id="inputEmail3" placeholder="">
                </div>
              </div>  
              <div class="form-group">
                <label for="inputEmail3" class="col-sm-4 control-label">Remark</label>

                <div class="col-sm-8">
                  <input type="" class="form-control" id="inputEmail3" placeholder="">
                </div>
              </div>  
              <div class="form-group">
                <label for="inputEmail3" class="col-sm-4 control-label">Progesteron used</label>

                <div class="col-sm-8">
                  <input type="" class="form-control" id="inputEmail3" placeholder="">
                </div>
              </div>
              <div class="form-group">
                <label for="inputEmail3" class="col-sm-4 control-label">Low molecular weight heparine</label>

                <div class="col-sm-8">
                  <input type="" class="form-control" id="inputEmail3" placeholder="">
                </div>
              </div>
              <div class="form-group">
                <label for="inputEmail3" class="col-sm-4 control-label">Cateter Used</label>

                <div class="col-sm-8">
                  <input type="" class="form-control" id="inputEmail3" placeholder="">
                </div>
              </div>              
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
              <button type="submit" class="btn btn-default">Cancel</button>
              <a class="btn btn-info pull-right" href="#/cryo">Save & Next</a>
            </div>
            <!-- /.box-footer -->
          </form>
      </div>      
    </div>
  </div>
  <div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">Luteal phase suppurt</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
            <div class="col-md-6">
              <table class="table table-bordered">
                <tbody><tr>
                  <th style="width: 10px">#</th>
                  <th>Progesteron used</th>
                  <th>Dose</th>
                  <th>Unit</th>                  
                  <th></th>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>                  
                </tr>
              </tbody></table>
              <ul class="pagination pagination-sm no-margin pull-right">
                <li><a href="#">«</a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">»</a></li>
              </ul>
            </div>
            <div class="col-md-6">
              <table class="table table-bordered">
                <tbody><tr>
                  <th style="width: 10px">#</th>
                  <th>Any Other</th>
                  <th>Dose</th>
                  <th>Unit</th>                  
                  <th></th>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>                  
                </tr>
              </tbody></table>
              <ul class="pagination pagination-sm no-margin pull-right">
                <li><a href="#">«</a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">»</a></li>
              </ul>
            </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer clearfix">
              
            </div>
        </div>
</div>