<div class="box box-info">
	<div class="box-header with-border">
	  <h3 class="box-title">Harmone Details</h3>
	</div>
	<!-- /.box-header -->
	<!-- form start -->
	<div class="box-body">
        <div class="row">
			<div class="col-md-6">
			    <form class="form-horizontal">
			      <div class="box-body">
			      	<div class="form-group">
			          <label for="inputEmail3" class="col-sm-4 control-label">Follicle Stimulation Harmones</label>

			          <div class="col-sm-8">
			            <input type="" class="form-control" id="inputEmail3" placeholder="">
			          </div>
			        </div>
			        <div class="form-group">
			          <label for="inputEmail3" class="col-sm-4 control-label">Luteinising Harmone</label>

			          <div class="col-sm-8">
			            <input type="" class="form-control" id="inputEmail3" placeholder="">
			          </div>
			        </div> 	
			        <div class="form-group">
			          <label for="inputEmail3" class="col-sm-4 control-label">Prolactine</label>

			          <div class="col-sm-8">
			            <input type="" class="form-control" id="inputEmail3" placeholder="">
			          </div>
			        </div> 	
			        <div class="form-group">
			          <label for="inputEmail3" class="col-sm-4 control-label">Thyroid stimulating harmone</label>

			          <div class="col-sm-8">
			            <input type="" class="form-control" id="inputEmail3" placeholder="">
			          </div>
			        </div> 	
			        <div class="form-group">
			          <label for="inputEmail3" class="col-sm-4 control-label">Anti-Mulerian Harmone</label>

			          <div class="col-sm-8">
			            <input type="" class="form-control" id="inputEmail3" placeholder="">
			          </div>
			        </div> 	 		        
			      </div>
			      <!-- /.box-body -->
			      <div class="box-footer">
			        <button type="submit" class="btn btn-default">Cancel</button>
			        <a class="btn btn-info pull-right" href="#/stimulation">Save & Next</a>
			      </div>
			      <!-- /.box-footer -->
			    </form>
			</div>
			<div class="col-md-6">                            
			    <form class="form-horizontal">
			      <div class="box-body">
			        <div class="form-group">
			          <label for="inputEmail3" class="col-sm-4 control-label">Date of FSH Test</label>

			          <div class="col-sm-8">
			            <input type="" class="form-control" id="inputEmail3" placeholder="">
			          </div>
			        </div>
			        <div class="form-group">
			          <label for="inputEmail3" class="col-sm-4 control-label">Date of LH Test</label>

			          <div class="col-sm-8">
			            <input type="" class="form-control" id="inputEmail3" placeholder="">
			          </div>
			        </div>
			        <div class="form-group">
			          <label for="inputEmail3" class="col-sm-4 control-label">Date of PRL Test</label>

			          <div class="col-sm-8">
			            <input type="" class="form-control" id="inputEmail3" placeholder="">
			          </div>
			        </div>
			        <div class="form-group">
			          <label for="inputEmail3" class="col-sm-4 control-label">Date of TSH Test</label>

			          <div class="col-sm-8">
			            <input type="" class="form-control" id="inputEmail3" placeholder="">
			          </div>
			        </div>
			        <div class="form-group">
			          <label for="inputEmail3" class="col-sm-4 control-label">Date of AMH Test</label>

			          <div class="col-sm-8">
			            <input type="" class="form-control" id="inputEmail3" placeholder="">
			          </div>
			        </div>			        		        			        
			      </div>
			      <!-- /.box-body -->			      
			    </form>
			</div>
		</div>
	</div>
</div>