<div class="box box-info" ng-controller="centerCtrl" ng-init=ViewCenter()>
	<div class="box-header with-border">
	  <h3 class="box-title">Center Details</h3>
	</div>
	<!-- /.box-header -->
	<!-- form start -->
	<div class="box-body">
        <div class="row">
			<div class="col-md-6 form-horizontal">			    
			    <div class="box-body">
			        <div class="form-group">
			          <label class="col-md-4 control-label">Center Name</label>

			          <div class="col-md-8">
			            {{center.center_name}}
			          </div>
			        </div>
			        <div class="form-group">
			          <label class="col-md-4 control-label">Address</label>

			          <div class="col-md-8">
			            {{center.center_address}}
			          </div>
			        </div>			        
			        <div class="form-group">
			          <label class="col-md-4 control-label"></label>

			          <div class="col-md-8">
			            <a href="" class="btn btn-info" ng-click="ViewCenterGrid()">Back</a>	
			          </div>
			        </div>
			    </div>	    
			</div>			
		</div>
	</div>
</div>
