<link rel="stylesheet" type="text/css" href="lib/ui-grid/ui-grid.min.css">
<div class="box box-info" ng-controller="centerCtrl" ng-init="init()">
	<div class="box-header with-border">
	  <h3 class="box-title">Center Details</h3>
	</div>
	<!-- /.box-header -->
	<!-- form start -->
	<div class="box-body">
        <div class="row">
			<div class="col-md-12">			    
				<a href="#!/centerAdd" class="btn btn-info">Add Center</a>
				<div ui-grid=centerGrid class="myGrid"></div>
			</div>			
		</div>
	</div>
</div>

