<div class="box box-info" ng-controller="userCtrl" ng-init=viewUser()>
	<div class="box-header with-border">
	  <h3 class="box-title">Edit User</h3>
	</div>
	<!-- /.box-header -->
	<!-- form start -->
	<div class="box-body">
        <div class="row">
			<div class="col-md-6 form-horizontal">			    
			    <div class="box-body">
			    	<div class="form-group" ng-show="error" >
			          <label class="col-md-4 control-label"></label>
			          <div class="col-md-8">
			          	<div style="color: red;">{{errorMessage}}</div>
			          </div>
			        </div>
			        <div class="form-group">
			          <label class="col-md-4 control-label">First Name</label>

			          <div class="col-md-8">
			            <input type="text" class="form-control" placeholder="First Name" ng-model="user.firstname">
			          </div>
			        </div>
					<div class="form-group">
			          <label class="col-md-4 control-label">Last Name</label>

			          <div class="col-md-8">
			            <input type="text" class="form-control" placeholder="Last Name" ng-model="user.lastname">
			          </div>
			        </div>
			       <div class="form-group">
			          <label class="col-md-4 control-label">Email</label>

			          <div class="col-md-8">
			            {{user.email}}
			          </div>
			        </div>	
                    <div class="form-group">
			          <label class="col-md-4 control-label">Contact Number</label>

			          <div class="col-md-8">
			            <input type="text" class="form-control" placeholder="Contact Number" ng-model="user.contact">
			          </div>
			        </div>
					<div class="form-group" ng-show="showCenters">
			          <label class="col-md-4 control-label">Center</label>

			          <div class="col-md-8">
			            {{user.center_name}}
			          </div>
			        </div>
			        <div class="form-group">
			          <label class="col-md-4 control-label">Role</label>
			          <div class="col-md-8">
			            <select class="form-control" ng-options="role.role_id as role.name for role in roles" ng-model="user.role_id"></select>
			          </div>
			        </div>
					<!-- <div class="form-group">
			          <label class="col-md-4 control-label">Is Doctor</label>

			          <div class="col-md-8">
			          	<div class="checkbox">
			          		<label>
			            		<input type="checkbox" ng-model="user.is_doctor">	
			            	</label>
			            </div>
			          </div>
			        </div>						
					<div class="form-group">
			          <label class="col-md-4 control-label">Is Embryologist</label>

			          <div class="col-md-8">
			          	<div class="checkbox">
			          		<label>
			            		<input type="checkbox"  ng-model="user.is_embryologist">	
			            	</label>
			            </div>
			          </div>
			        </div>		 -->			
			        <div class="form-group">
			          <label class="col-md-4 control-label"></label>

			          <div class="col-md-8">
			            <a href="" class="btn btn-info" ng-click="addUpdateUser()">Update</a>	
			          </div>
			        </div>
			    </div>	    
			</div>			
		</div>
	</div>
</div>
