<div class="box box-info" ng-controller="userCtrl" ng-init=viewUser()>
	<div class="box-header with-border">
	  <h3 class="box-title">Edit User</h3>
	</div>
	<!-- /.box-header -->
	<!-- form start -->
	<div class="box-body">
        <div class="row">
			<div class="col-md-6 form-horizontal">			    
			    <div class="box-body">
			    	<div ng-show="error" style="color: red;">{{errorMessage}}</div>
			        <div class="form-group">
			          <label class="col-md-4 control-label">First Name</label>

			          <div class="col-md-8">
			            <input type="text" class="form-control" placeholder="First Name" ng-model="user.firstname">
			          </div>
			        </div>
			        <div class="form-group">
			          <label class="col-md-4 control-label">Last Name</label>

			          <div class="col-md-8">
			            <input type="text" class="form-control" placeholder="Last Name" ng-model="user.lastname">
			          </div>
			        </div>	
                    <div class="form-group">
			          <label class="col-md-4 control-label">Email</label>

			          <div class="col-md-8">
			            <input type="text" class="form-control" placeholder="Email" ng-model="user.email">
			          </div>
			        </div>	
                    <div class="form-group">
			          <label class="col-md-4 control-label">Contact Number</label>

			          <div class="col-md-8">
			            <input type="text" class="form-control" placeholder="Contact Number" ng-model="user.contact">
			          </div>
			        </div>					
			        <div class="form-group">
			          <label class="col-md-4 control-label"></label>

			          <div class="col-md-8">
			            <a href="" class="btn btn-info" ng-click="addUpdateUser()">Update</a>	
			          </div>
			        </div>
			    </div>	    
			</div>			
		</div>
	</div>
</div>
