
<style type="text/css">
	.col-md-8{
		padding-top: 7px;
	}
</style>
<div class="box box-info" ng-controller="userCtrl" ng-init=viewUser()>
	<div class="box-header with-border">
	  <h3 class="box-title">User Details</h3>
	</div>
	<!-- /.box-header -->
	<!-- form start -->
	<div class="box-body">
        <div class="row">
			<div class="col-md-6 form-horizontal">			    
			    <div class="box-body">
			        <div class="form-group">
			          <label class="col-md-4 control-label">First Name</label>

			          <div class="col-md-8">
			            {{user.firstname}}
			          </div>
			        </div>
					<div class="form-group">
			          <label class="col-md-4 control-label">Last Name</label>

			          <div class="col-md-8">
			            {{user.lastname}}
			          </div>
			        </div>
			       <div class="form-group">
			          <label class="col-md-4 control-label">Email</label>

			          <div class="col-md-8">
			            {{user.email}}
			          </div>
			        </div>	
                    <div class="form-group">
			          <label class="col-md-4 control-label">Contact Number</label>

			          <div class="col-md-8">
			            {{user.contact}}
			          </div>
			        </div>
					<div class="form-group">
			          <label class="col-md-4 control-label">Center</label>

			          <div class="col-md-8">
			            {{user.center_name}}
			          </div>
			        </div>
			        <div class="form-group">
			          <label class="col-md-4 control-label">Role</label>
			          <div class="col-md-8">
			            {{user.role_name}}
			          </div>
			        </div>
					<div class="form-group">
			          <label class="col-md-4 control-label">Is Doctor</label>

			          <div class="col-md-8">
			          	{{user.is_doctor}}
			          </div>
			        </div>						
					<div class="form-group">
			          <label class="col-md-4 control-label">Is Embryologist</label>

			          <div class="col-md-8">
			          	{{user.is_embryologist}}
			          </div>
			        </div>
			        <div class="form-group">
			          <label class="col-md-4 control-label"></label>

			          <div class="col-md-8">
			            <a href="#!/userDetails" class="btn btn-info" >Back</a>	
			          </div>
			        </div>
			    </div>	    
			</div>			
		</div>
	</div>
</div>
